
.form-control{width:25rem;
              }

body{background-color:#F5EBEB;}

.btn {width:25rem;
      margin-top:1rem;}

img{width:25rem;
    height:20%;}

footer{padding-top:3rem;
      text-align:center;
      color:gray;}

#SignUp{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
        }
